/* //form settings */

/* section {
  display: flex;
  justify-content: center;
} */

.form-div {
  background-color: rgb(189, 216, 154);
  /* padding: 30px;
  width: 80%; */
}


.form-div {
  font-family: sans-serif;
  font-size: 16px;

}

.form-div * {
  box-sizing: border-box;
  line-height: 1.5;
}

.form-title {
  font-size: 32px;
  font-weight: 600;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item > * {
  align-self: flex-start;
}

.form-label {
  font-weight: 600;
  padding: 10px 0;
}

.form-input {
  /* -webkit-appearance: none; */
  width: 100%;
  max-width: 425px;

  /* Fix for Safari/ios date fields */
  min-height: calc(0.9em + (0.8em * 2) + 0.6em);
  padding: 0.8em;
  font-size: 0.9em;
  font-family: sans-serif;

  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.form-input:focus {
  background: #ffffff;
}

.form-input::placeholder {
  color: #bbbbbb;
}
