@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');


body {
    
    display: flex;
    justify-content: center;
    text-align: center;
}

.app {
    width: 37.5rem;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.app h1 {
    font-size: 2.5rem;
    line-height: 1.05;
    text-align: center;
}

.app h2 {
    font-size: 3rem;
    line-height: 1.05;
    text-align: center;
}

.app h3 {
    margin: 0.625rem;
}

.app p {
    font-size: 1.125rem;
    line-height: 1.2;
}

.question-title {
    width: 37.5rem;
    height: 13.125rem;
    background-color: rgb(102, 69, 221);
    border-radius: 0.313rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
}

.questions-container{
    margin: 16px 0 23px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question-block{
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
    border: none;
    padding: 0;
}

img{
    max-width: 85%;
    height: auto;
}


.question-block p {
    font-size: 11px;
    font-style: italic;
}

.answer-block{
    width: 600px;
    background-color: rgb(135, 185, 125);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(8, 34, 73);
    padding-bottom: 50px;
    font-size: 25px;
    margin-bottom: 30px;
}

.answer-block img{
    width: 90%;
}
