/* general styling */
body {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* displays plants list next to blog box */
.index-container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 10px;
}

/* displays the plant images in a grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.blog-box {
  border: 2px solid rgb(76, 151, 69);
  padding: 15px;
  margin: 65px 20px 10px 5px;
  text-align: left;
}


.plantContainer {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.plant-image {
  min-width: 50px;
  max-width: 150px;
  height: auto;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: rgb(38, 37, 36);
}

.plant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* //nav */

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(76, 151, 69);
  color: white;
  padding: 15px;
  font-size: 2em;
  font-size: 18px;
}

.align-left {
  text-align: left;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}


.form-div {
  padding: 20px;
  text-align: center;
}

input[type="text" i] {
  margin: 5px 2px;
}

input[type="submit" i] {
  margin: 10px;
}

.show-box {
  padding: 20px;
  text-align: center;
}

.search-bar {
  background-color: rgba(246, 246, 246, 0.8);
}

.pagination{
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
}
.search-bar-dropdown{
  list-style: none;
}




button {
  background-color: rgb(76, 151, 69);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .plantContainer {
    width: calc(50% - 10px);
  }
}




