/* general styling */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=PT+Sans&family=Sora:wght@400;500;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");

* {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* GRID SETTING */

.container {
  display: grid; 
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  gap: 15px;
}

.main-container {
  display: grid;
  gap: 10px;
}

@media (min-width: 720px) {
  /* .container {
    grid-template-columns: repeat(12, 1fr);
  } */

  .container .item {
    grid-column: 1 / span 12;
  }

  .container main {
    grid-column: 1 / span 12;
    z-index: 0;
  }

  main .homeParent {
    grid-column: 1 / span 12;
  }


  .container .footer-section {
    grid-column: 1 / span 12;
  }
}

.header-box {
  display: flex;
  justify-content: space-between;
}

/* //main container setup */

@media (min-width: 720px) {
  .main-container {
    grid-template-columns: repeat(12, 1fr);
  }


  .main-container .header-box {
    grid-column: 4 / span 12;
  }

  .main-container section {
    grid-column: 1 / span 12;
  }

  .main-container .slider {
    grid-column: 2 / span 12;
  }

  .main-container .results-grid-container {
    grid-column: 2 / span 12;
  }

  .main-container .plant-box {
    grid-column: 1 / span 10;
  }

  .main-container .blog-box {
    grid-column: 11 / span 12;
    grid-row: 4;
  }
}

.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  background-color: white;
}

.index-container .results-grid-container {
  grid-column: 1 / span 10;
}

.index-container .item-1 {
  grid-column: 1 / span 10;
}

.index-container .blog-box {
  grid-column: 11 / span 12;
}

/* displays the plant images in a grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 15px;
  margin-left: 15px;
}

.blog-box {
  padding: 15px;
  text-align: center;
}

.blog-box h2 {
  font-size: 1.5rem;
}

.blogContainer {
  text-align: left;
  margin: 10px;
}

.blogContainer a {
  text-decoration: underline;
}

.blogContainer a li {
  list-style-type: none;
}

/* @media screen and (max-width: 800px) {
  .blog-box {
    display: none;
  }
} */

.plantContainer {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.plantContainer p {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.plant-image {
  height: auto;
  border: 2px solid #000000;
  border-radius: 5px;
  min-width: 70px;
  max-width: 130px;
  border-style: inset;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  box-shadow: 0 2px 8px rgb(31, 61, 29, 0.4);
}

input[type="search" i] {
  padding: 5px 20px;
  border: 1px solid rgb(76, 151, 69);
  width: 450px;
}

.submit-btn {
  padding: 5px 20px;
  border: 1px solid rgb(76, 151, 69);
}

/* search results */
.results-grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  max-height: 400px;
  /* set the maximum height */
  overflow-y: scroll;
  /*enable vertical scrolling */
  margin: 0px 6px 20px 15px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  border-style: inset;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 14px;
}

::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background: #ccc;
}

.resultContainer {
  padding: 10px 0px 10px 20px;
  border-bottom: 1px solid rgb(76, 151, 69);
}

.resultContainer em {
  display: inline;
}

.resultContainer p {
  color: rgb(32, 64, 29);
}

.result-image {
  height: auto;
  border: 2px solid #000000;
  border-radius: 4px;
  min-width: 70px;
  max-width: 90px;
  margin-right: 15px;
  border-style: inset;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  box-shadow: 0 2px 8px rgb(31, 61, 29, 0.4);
  float: left;
}

/* show page */

/* //nav */
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: rgb(76, 151, 69);
  color: white;
  z-index: 50;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.logo-div {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  align-items: center;
}

.plantlogo {
  width: 200px;
}

.align-left {
  text-align: left;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.3);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  margin-top: 20px;
}

@media only screen and (max-width: 1100px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(76, 151, 69);
    transition: 1s;
    /* transform: translateY(-50vh); */
  }

  header .responsive_nav {
    transform: translateY(100vh);
    z-index: 1000;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

/* end of nav setup */

/* .form-div {
  padding: 20px;
  text-align: center;
} */

input[type="text" i] {
  margin: 5px 2px;
}

input[type="submit" i] {
  margin: 10px;
}

.show-box {
  padding: 20px;
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  padding: 5px 20px;
}

.pagination {
  text-align: right;
  margin-bottom: 20px;
}

.pagination .prev-btn,
.show-page-btn,
.collections-page-btn,
.login-in-popup {
  border: 1px solid rgb(76, 151, 69);
  background-color: rgb(19, 52, 18);
  border-radius: 8px;
  margin-right: 5px;
  padding: 4px;
  color: #ffffff;
}

.pagination .next-btn,
.show-page-btn,
.collections-page-btn,
.login-in-popup {
  border: 1px solid rgb(76, 151, 69);
  background-color: rgb(19, 52, 18);
  border-radius: 8px;
  padding: 4px;
   color: #ffffff;
}

.pagination .prev-btn:hover,
.pagination .next-btn:hover,
.show-page-btn:hover,
.collections-page-btn:hover,
.login-in-popup:hover {
  background-color: rgb(111, 205, 107);
  color: #000000;
}

/* .toggle-container button {
  border: 1px solid rgb(76, 151, 69);
  border-radius: 8px;
  padding: 4px 16px 4px 16px;
}

.toggle-container button:hover {
  background-color: #bdbaba;
} */

.search-bar input {
  border: 1px solid #4c9745;
  border-radius: 8px;
  padding: 4px;
}

.search-bar input:hover {
  background-color: #bdbaba;
}

.search-bar-dropdown {
  list-style: none;
}

/* collections */
.collections-cont-ifempty {
  color: rgb(31, 134, 64);
  font-size: 100px;
}

/* //Footer section */

.footer-section {
  background-color: rgb(118, 185, 111);
  /* min-height: 200px; */
  height: 100%;
  padding: 40px 20px;
  text-align: left;
}

.flex-div {
  display: flex;
  justify-content: space-around;
}

.flex-div > .footer-content {
  max-width: 40%;
  color: #ffffff;
  line-height: 25px;
  font-size: 12px;
  margin-right: 20px;
}

.flex-div > .footer-content > h3 {
  max-width: 50%;
  color: #052d0f;
  font-size: 20px;
}

.footer-link > a {
  text-decoration: underline;
}

.footer-link {
  display: flex;
  flex-direction: column;
}

.top-margin {
  margin-top: 20px;
}

.footer-text {
  color: #fff;
}

.user-icon {
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(255, 255, 255, 0.8);
  max-width: 35px;
  margin-top: 7px;
}

.user-name {
  font-size: 10px;
  color: rgb(0, 0, 0);
}

/* popup window when user is not legged in */

.popup-window {
  display: flex;
  flex-direction: column;
  height: 40dvh;
  font-size: 30px;
}

.close {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: rgb(76, 151, 69);
  font-size: 1.8rem;
  align-self: flex-end;
}

.popup-header {
  padding: 50px;
}

.homeParent {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.homebutton {
  background: rgba(98, 148, 78, 0.417);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 5px;
  max-width: 125px;
  max-height: auto;
}

.homebutton:hover{
  
  background: rgba(98, 148, 78, 0.764);
  
}

.videoWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.back-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeParent1{
  display: flex;

}

.videoWrapper iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.homeChild h1 {
  font-size: 70px;
  color: white;
  font-weight: 600;
  transition: 0.5;
}

.homeChild h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.homeChild{
  margin-top: 125%;
  align-items: center;
  color: rgb(255, 255, 255);
  transform: scale(1.5);
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

/* buttons */

.btn-lg, .header-btn {
  background-color: rgb(19, 52, 18);
  color: #ffffff;
  margin-right: 2%;
  outline: none;
  border: 1px solid yellow;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-lg:hover, .header-btn:hover {
  background-color: rgb(111, 205, 107);
  color: #000000;
}


